@import "tailwindcss";

@theme {
  --breakpoint-md: 800px;
  --breakpoint-lg: 1024px;

  --color-primary: #8020f0;
  --color-grey: #3f3f3f;
  --color-light-grey: #b2b2b2;
  --color-dark-grey: #242424;
  --color-dark-white: #f6f6f6;
  --color-light-black: #121212;
}

@layer components {
  .white .icon,
  .grey:hover .icon {
    @apply invert;
  }
  .grey .icon {
    @apply invert-[0.7];
  }
  .white,
  .grey:hover {
    @apply text-white;
  }
  .grey {
    @apply text-light-grey;
  }
  .red {
    filter: invert(20%) sepia(100%) saturate(8000%);
  }

  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    45% {
      transform: translateX(var(--scroll-distance));
    }
    50% {
      transform: translateX(var(--scroll-distance));
    }
    95% {
      transform: translateX(0);
    }
  }

  .animate-scroll {
    animation: scroll linear infinite;
  }
}
